/*
==================
themes/one-dark/ui
==================
*/

$ui: (
	background-color: hsl(220, 13%, 18%),
	button-background: hsl(216, 13%, 15%),
	button-hover: hsl(224, 13%, 28%),
	button-pressed: hsl(219, 14%, 20%),
);
