:root {
	--one-dark-ui-background-color: hsl(220, 13%, 18%);

	--one-dark-ui-button-background: hsl(216, 13%, 15%);
	--one-dark-ui-button-hover: hsl(224, 13%, 28%);
	--one-dark-ui-button-pressed: hsl(219, 14%, 20%);
}
