@use 'one-dark';
@use 'one-light';

$themes: (
	one-dark: one-dark.$colors,
	one-light: one-light.$colors,
);

@each $theme-name, $theme in $themes {
	.#{$theme-name} {
		@each $category, $colors in $theme {
			@each $name, $color in $colors {
				--#{$name}: #{$color};
			}
		}
	}
}
