@use 'one-dark';
@use 'one-light';

$themes: (
	one-dark: one-dark.$colors,
	one-light: one-light.$colors,
);

@each $theme-name, $colors in $themes {
	.#{$theme-name} {
		@each $name, $color in $colors {
			--#{$name}: #{$color};
		}
	}
}
