/* import one-dark theme */
@import 'one-dark/one-dark-ui.css';
@import 'one-dark/one-dark-syntax.css';

/* import one-light theme */
@import 'one-light/one-light-ui.css';
@import 'one-light/one-light-syntax.css';

:root {
	--background-color: var(--one-dark-ui-background-color);

	--button-background: var(--one-dark-ui-button-background);
	--button-hover: var(--one-dark-ui-button-hover);
	--button-pressed: var(--one-dark-ui-button-pressed);

	--text-color: var(--one-dark-syntax-text-color);
	--link-color: var(--one-dark-syntax-link-color);
}
