<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Preferences</title>

		<link rel="stylesheet" href="../styles/css/index.css" />
	</head>
	<body class="one-dark">
		<body>
			<h1>PPM Preferences</h1>
			<p>
				We are using Node
				<script>
					document.write(process.versions.node);
				</script>
				, Chrome
				<script>
					document.write(process.versions.chrome);
				</script>
				, and Electron
				<script>
					document.write(process.versions.electron);
				</script>
				.
			</p>
		</body>
	</body>
</html>
