$colors: (
	ui: (
		background-color: hsl(0, 0%, 98%),
		button-background: hsl(240, 2%, 92%),
		button-hover: hsl(0, 0%, 97%),
		button-pressed: hsl(0, 0%, 96%),
	),
	syntax: (
		text-color: hsl(227, 7%, 24%),
		link-color: hsl(198, 100%, 37%),
	),
);
