:root {
	--one-light-ui-background-color: hsl(0, 0%, 98%);

	--one-light-ui-button-background: hsl(240, 2%, 92%);
	--one-light-ui-button-hover: hsl(0, 0%, 97%);
	--one-light-ui-button-pressed: hsl(0, 0%, 96%);
}
