/*
===================
themes/one-light/ui
===================
*/

$ui: (
	background-color: hsl(0, 0%, 98%),
	button-background: hsl(240, 2%, 92%),
	button-hover: hsl(0, 0%, 97%),
	button-pressed: hsl(0, 0%, 96%),
);
