@use 'main';

.nav {
	display: grid;
	background-color: var(--background-color);
	gap: 1rem;
	margin: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));

	list-style: none;
	justify-content: space-evenly;
	align-items: center;

	&-item {
		background: var(--button-background);
		border-radius: 5px;

		&:hover {
			background: var(--button-hover);
		}

		&:active {
			background: var(--button-pressed);
		}

		&:focus {
			outline: 0;
		}
	}
}
