@import "./index.css";

#preferenceSections {
	display: grid;
	background-color: var(--background-color, #282C34);
	gap: 1rem;
	margin: 1rem;
	grid-template-columns: repeat( auto-fit, minmax( var(--min-width, 15rem), 1fr ) );

	list-style: none;
	justify-content: space-evenly;
	align-items: center;
}

.preferenceSection {
	background: var(--button-background, #21252B);
	border-radius: 5px;
}

.preferenceSection:hover {
	background: var(--button-hover, #3E4351);
}

.preferenceSection:active {
	background: var(--button-pressed, #2C313A);
}

.preferenceSection:focus {
	outline: 0;
}
