/*
===========
preferences
===========
*/

/* @use 'main'; */
@use 'main';

/* @use 'mixins'; */
@use 'mixins';

.preferences {
	display: grid;
	background-color: var(--ui--background-color);
	gap: 1rem;
	margin: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));

	list-style: none;
	justify-content: space-evenly;
	align-items: center;

	&-item {
		@include mixins.button(5px);
	}
}
